/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.2;

    color: #0f0f0f;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/

body {
    background-color: #fbfbfb;
}
header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    box-shadow: 0px 3px 10px -5px #100f0f;
    background-color: #fbfbfb;

    border: solid 1px;
}

.logo-container {
    display: flex;
    /* border: solid; */
    width: 30%;
}

.logo {
    width: 50%;
}

.navbar {
    display: flex;
    width: 50%;
    justify-content: center;
}

.navbar-menu {
    display: flex;
    font-size: 20px;

    gap: 20px;
}

#inicio {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.avatar-container {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.avatar-img {
    width: 400px;
    border-radius: 15px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    min-height: 100vh;
}

h1 {
    font-size: 36px;
    text-align: center;
}

h2 {
    font-size: 28px;
}

p {
    margin: 20px 0px;
    text-align: justify;
}

img {
    max-width: 100%;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.btn-CV span {
    background-color: #af599e;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 20px;
}

.contact-icons {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 25px;
    width: 100%;
    padding: 50px 30px;
}

.contact-icons img {
    width: 70%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(175, 89, 158, 0.3);
    border-radius: 15px;
    padding: 20px;
}

footer {
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
    background-color: #af599e;
}
